<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated deployment-model -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="br.usp.ffclrp.dcm.lssb.activityrest.deploymentmodel.presentation.DeploymentModelModelWizardID"
            name="%_UI_DeploymentModelModelWizard_label"
            class="br.usp.ffclrp.dcm.lssb.activityrest.deploymentmodel.presentation.DeploymentModelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DeploymentModelModelFile.gif">
         <description>%_UI_DeploymentModelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated deployment-model -->
      <editor
            id="br.usp.ffclrp.dcm.lssb.activityrest.deploymentmodel.presentation.DeploymentModelEditorID"
            name="%_UI_DeploymentModelEditor_label"
            icon="icons/full/obj16/DeploymentModelModelFile.gif"
            extensions="deploymentmodel"
            class="br.usp.ffclrp.dcm.lssb.activityrest.deploymentmodel.presentation.DeploymentModelEditor"
            contributorClass="br.usp.ffclrp.dcm.lssb.activityrest.deploymentmodel.presentation.DeploymentModelActionBarContributor">
      </editor>
   </extension>
</plugin>
