<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated deployment-model -->
      <package
            uri="http://dcm.ffclrp.usp.br/lssb/metamodels/deployment-model.ecore"
            class="deploymentmodel.DeploymentmodelPackage"
            genModel="model/deployment-model.genmodel"/>
   </extension>

</plugin>
