{"swagger":"2.0","info":{"title":"gene-chart-report","termsOfService":"","version":"0.8.0"},"host":"kode.ffclrp.usp.br:8081","basePath":"/gene-chart-report","schemes":["http"],"consumes":["application/json","application/xml"],"produces":["application/json","application/xml"],"paths":{"/":{"get":{"operationId":"get-service-root-resource","responses":{"200":{"description":"Analysis activity representation is retrieved"}}}},"/new-analyses":{"post":{"operationId":"create-new-aanalysis-resource","responses":{"200":{"description":"Analysis activity representation is retrieved"}}}},"/new-analyses/{id}":{"get":{"operationId":"get-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Analysis activity representation is retrieved"}}},"delete":{"operationId":"remove-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Analysis activity is removed from server."}}}},"/succeded-analyses/{id}":{"get":{"operationId":"get-succeeded-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Analysis activity representation is retrieved"}}},"delete":{"operationId":"remove-succeded-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Analysis activity is removed from server."}}}},"/failed-analyses/{id}":{"get":{"operationId":"get-failed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Analysis activity representation is retrieved"}}},"delete":{"operationId":"remove-failed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Analysis activity is removed from server."}}}},"/new-analyses/{id}/parameters/email":{"get":{"operationId":"get-emailfrom-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is retrieved"}}},"put":{"operationId":"put-emailfor-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is retrieved"}}}},"/succeded-analyses/{id}/parameters/email":{"get":{"operationId":"get-emailfrom-succeded-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is retrieved"}}}},"/failed-analyses/{id}/parameters/email":{"get":{"operationId":"get-emailfrom-failed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is retrieved"}}}},"/new-analyses/{id}/parameters/count-cutoff":{"get":{"operationId":"get-count-cutofffrom-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is retrieved"}}},"put":{"operationId":"put-count-cutofffor-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is retrieved"}}}},"/succeded-analyses/{id}/parameters/count-cutoff":{"get":{"operationId":"get-count-cutofffrom-succeded-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is retrieved"}}}},"/failed-analyses/{id}/parameters/count-cutoff":{"get":{"operationId":"get-count-cutofffrom-failed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is retrieved"}}}},"/new-analyses/{id}/parameters/threshold":{"get":{"operationId":"get-thresholdfrom-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is retrieved"}}},"put":{"operationId":"put-thresholdfor-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is retrieved"}}}},"/succeded-analyses/{id}/parameters/threshold":{"get":{"operationId":"get-thresholdfrom-succeded-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is retrieved"}}}},"/failed-analyses/{id}/parameters/threshold":{"get":{"operationId":"get-thresholdfrom-failed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is retrieved"}}}},"/new-analyses/{id}/parameters/categories-in-result":{"get":{"operationId":"get-categories-in-resultfrom-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is retrieved"}}},"put":{"operationId":"put-categories-in-resultfor-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is retrieved"}}}},"/succeded-analyses/{id}/parameters/categories-in-result":{"get":{"operationId":"get-categories-in-resultfrom-succeded-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is retrieved"}}}},"/failed-analyses/{id}/parameters/categories-in-result":{"get":{"operationId":"get-categories-in-resultfrom-failed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is retrieved"}}}},"/new-analyses/{id}/parameters/gene-identifier-type":{"get":{"operationId":"get-gene-identifier-typefrom-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is retrieved"}}},"put":{"operationId":"put-gene-identifier-typefor-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is retrieved"}}}},"/succeded-analyses/{id}/parameters/gene-identifier-type":{"get":{"operationId":"get-gene-identifier-typefrom-succeded-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is retrieved"}}}},"/failed-analyses/{id}/parameters/gene-identifier-type":{"get":{"operationId":"get-gene-identifier-typefrom-failed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is retrieved"}}}},"/new-analyses/{id}/parameters/column-name":{"get":{"operationId":"get-column-namefrom-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is retrieved"}}},"put":{"operationId":"put-column-namefor-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is retrieved"}}}},"/succeded-analyses/{id}/parameters/column-name":{"get":{"operationId":"get-column-namefrom-succeded-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is retrieved"}}}},"/failed-analyses/{id}/parameters/column-name":{"get":{"operationId":"get-column-namefrom-failed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is retrieved"}}}},"/new-analyses/{id}/inputs/gene-id-table":{"get":{"operationId":"get-gene-id-tablefrom-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","required":true}],"responses":{"200":{"description":"Dataset value is retrieved"}}}},"/succeeded-analyses/{id}/outputs/output":{"get":{"operationId":"get-outputfrom-succeeded-analysis","parameters":[{"name":"id","in":"path","type":"string","required":true}],"responses":{"200":{"description":"Dataset value is retrieved"}}}}},"definitions":{"AnalysisActivity":{"type":"object","required":["id"],"properties":{"id":{"type":"string"},"state":{"type":"string","enum":["CREATED","READY","RUNNING","SUCCEEDED","FAILED","REMOVED"]},"errorReport":{"type":"string"}}},"Parameters":{"type":"object"},"File":{"properties":{"name":{"type":"string"},"contentType":{"type":"string"},"content":{"type":"string","format":"application/octet-stream"}}},"JobInstance":{"type":"object","required":["id"],"properties":{"id":{"type":"string"},"state":{"type":"string","enum":["CREATED","READY","RUNNING","SUCCEEDED","FAILED","REMOVED"]},"errorReport":{"type":"string"}}},"Parameter":{"required":["name","value"],"properties":{"name":{"type":"string"},"value":{"type":"array","items":{}}}}}}