{"swagger":"2.0","info":{"title":"gene-chart-report","termsOfService":"","version":"0.8.0"},"host":"kode.ffclrp.usp.br:8081","basePath":"/gene-chart-report","schemes":["http"],"consumes":["application/json","application/xml"],"produces":["application/json","application/xml"],"paths":{"/new-analyses/{id}/parameters/email":{"get":{"operationId":"get-emailfrom-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","required":true}],"responses":{"200":{"description":"Parameter value is retrieved"}}}},"/new-analyses/{id}/parameters/count-cutoff":{"get":{"operationId":"get-count-cutofffrom-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","required":true}],"responses":{"200":{"description":"Parameter value is retrieved"}}}},"/new-analyses/{id}/parameters/threshold":{"get":{"operationId":"get-thresholdfrom-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","required":true}],"responses":{"200":{"description":"Parameter value is retrieved"}}}},"/new-analyses/{id}/parameters/categories-in-result":{"get":{"operationId":"get-categories-in-resultfrom-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","required":true}],"responses":{"200":{"description":"Parameter value is retrieved"}}}},"/new-analyses/{id}/parameters/gene-identifier-type":{"get":{"operationId":"get-gene-identifier-typefrom-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","required":true}],"responses":{"200":{"description":"Parameter value is retrieved"}}}},"/new-analyses/{id}/parameters/column-name":{"get":{"operationId":"get-column-namefrom-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","required":true}],"responses":{"200":{"description":"Parameter value is retrieved"}}}},"/new-analyses/{id}/inputs/gene-id-table":{"get":{"operationId":"get-gene-id-tablefrom-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","required":true}],"responses":{"200":{"description":"Dataset value is retrieved"}}}},"/succeeded-analyses/{id}/outputs/output":{"get":{"operationId":"get-outputfrom-succeeded-analysis","parameters":[{"name":"id","in":"path","type":"string","required":true}],"responses":{"200":{"description":"Dataset value is retrieved"}}}}},"definitions":{"AnalysisActivity":{"type":"object","required":["id"],"properties":{"id":{"type":"string"},"state":{"type":"string","enum":["CREATED","READY","RUNNING","SUCCEEDED","FAILED","REMOVED"]}}},"Parameters":{"type":"object"},"File":{"properties":{"name":{"type":"string"},"contentType":{"type":"string"},"content":{"type":"string","format":"application/octet-stream"}}}}}