{"swagger":"2.0","info":{"title":"gene-chart-report","description":"","termsOfService":"","version":"0.8.0"},"host":"kode.ffclrp.usp.br:8081","basePath":"/gene-chart-report","schemes":["http"],"consumes":["application/json","application/xml"],"produces":["application/json","application/xml"],"paths":{"/":{"get":{"operationId":"get-service-root-resource","responses":{"200":{"description":"Retrieve links for other accessible resources","headers":{"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/new-analyses":{"post":{"operationId":"create-new-analysis-resource","responses":{"200":{"description":"Analysis activity representation is retrieved","schema":{"$ref":"#/definitions/AnalysisActivity"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/new-analyses/{id}":{"get":{"operationId":"get-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Analysis activity representation is retrieved","schema":{"$ref":"#/definitions/AnalysisActivity"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}},"delete":{"operationId":"remove-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Analysis activity is removed from server."}}}},"/new-analyses/{id}/parameters/email":{"get":{"operationId":"get-emailfrom-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"404":{"description":"Resource not found."},"200":{"description":"Parameter value is retrieved","schema":{"$ref":"#/definitions/email"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}},"put":{"operationId":"put-emailfor-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is set","headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}},"400":{"description":"Bad values for parameter."},"404":{"description":"Resource not found."}}}},"/new-analyses/{id}/parameters/count-cutoff":{"get":{"operationId":"get-count-cutofffrom-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"404":{"description":"Resource not found."},"200":{"description":"Parameter value is retrieved","schema":{"$ref":"#/definitions/count-cutoff"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}},"put":{"operationId":"put-count-cutofffor-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is set","headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}},"400":{"description":"Bad values for parameter."},"404":{"description":"Resource not found."}}}},"/new-analyses/{id}/parameters/threshold":{"get":{"operationId":"get-thresholdfrom-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"404":{"description":"Resource not found."},"200":{"description":"Parameter value is retrieved","schema":{"$ref":"#/definitions/threshold"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}},"put":{"operationId":"put-thresholdfor-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is set","headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}},"400":{"description":"Bad values for parameter."},"404":{"description":"Resource not found."}}}},"/new-analyses/{id}/parameters/categories-in-result":{"get":{"operationId":"get-categories-in-resultfrom-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"404":{"description":"Resource not found."},"200":{"description":"Parameter value is retrieved","schema":{"$ref":"#/definitions/categories-in-result"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}},"put":{"operationId":"put-categories-in-resultfor-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is set","headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}},"400":{"description":"Bad values for parameter."},"404":{"description":"Resource not found."}}}},"/new-analyses/{id}/parameters/gene-identifier-type":{"get":{"operationId":"get-gene-identifier-typefrom-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"404":{"description":"Resource not found."},"200":{"description":"Parameter value is retrieved","schema":{"$ref":"#/definitions/gene-identifier-type"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}},"put":{"operationId":"put-gene-identifier-typefor-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is set","headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}},"400":{"description":"Bad values for parameter."},"404":{"description":"Resource not found."}}}},"/new-analyses/{id}/parameters/column-name":{"get":{"operationId":"get-column-namefrom-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"404":{"description":"Resource not found."},"200":{"description":"Parameter value is retrieved","schema":{"$ref":"#/definitions/column-name"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}},"put":{"operationId":"put-column-namefor-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is set","headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}},"400":{"description":"Bad values for parameter."},"404":{"description":"Resource not found."}}}},"/new-analyses/{id}/inputs/gene-id-table":{"get":{"operationId":"get-gene-id-table-from-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Dataset value is retrieved","schema":{"$ref":"#/definitions/File"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}},"put":{"operationId":"put-gene-id-table-into-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Dataset value is retrieved","schema":{"$ref":"#/definitions/File"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}},"delete":{"operationId":"delete-gene-id-table-into-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Dataset value is retrieved","schema":{"$ref":"#/definitions/File"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/jobs/{id}":{"get":{"description":"Get the processing state.","operationId":"get-job","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"The job is runnning. Poll the processing again after a small ammout of time.","schema":{"$ref":"#/definitions/AnalysisActivity"}},"410":{"description":"The job failed. The location of the results is provided in headers.","schema":{"$ref":"#/definitions/AnalysisActivity"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}},"303":{"description":"The job succeeded. The location of the results is provided in headers.","schema":{"$ref":"#/definitions/AnalysisActivity"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}},"put":{"description":"Create a new job for the activity identified by {id}.","operationId":"put-job","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"201":{"description":"The activity is ready for processing and a new job is started.The location of the new job is also returned in the headers. ","headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}},"400":{"description":"The activity is was not ready for its executionand was not started."}}},"delete":{"description":"Try to cancel the job.","operationId":"cancel-job","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"The job is removed from proccessing."},"500":{"description":"The job could not be canceled.","schema":{"$ref":"#/definitions/AnalysisActivity"}}}}},"/succeded-analyses/{id}":{"get":{"operationId":"get-succeeded-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Analysis activity representation is retrieved","schema":{"$ref":"#/definitions/AnalysisActivity"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}},"delete":{"operationId":"remove-succeded-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Analysis activity is removed from server."}}}},"/succeded-analyses/{id}/parameters/email":{"get":{"operationId":"get-emailfrom-succeded-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"404":{"description":"Resource not found."},"200":{"description":"Parameter value is retrieved","schema":{"$ref":"#/definitions/email"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/succeded-analyses/{id}/parameters/count-cutoff":{"get":{"operationId":"get-count-cutofffrom-succeded-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"404":{"description":"Resource not found."},"200":{"description":"Parameter value is retrieved","schema":{"$ref":"#/definitions/count-cutoff"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/succeded-analyses/{id}/parameters/threshold":{"get":{"operationId":"get-thresholdfrom-succeded-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"404":{"description":"Resource not found."},"200":{"description":"Parameter value is retrieved","schema":{"$ref":"#/definitions/threshold"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/succeded-analyses/{id}/parameters/categories-in-result":{"get":{"operationId":"get-categories-in-resultfrom-succeded-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"404":{"description":"Resource not found."},"200":{"description":"Parameter value is retrieved","schema":{"$ref":"#/definitions/categories-in-result"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/succeded-analyses/{id}/parameters/gene-identifier-type":{"get":{"operationId":"get-gene-identifier-typefrom-succeded-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"404":{"description":"Resource not found."},"200":{"description":"Parameter value is retrieved","schema":{"$ref":"#/definitions/gene-identifier-type"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/succeded-analyses/{id}/parameters/column-name":{"get":{"operationId":"get-column-namefrom-succeded-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"404":{"description":"Resource not found."},"200":{"description":"Parameter value is retrieved","schema":{"$ref":"#/definitions/column-name"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/succeeded-analyses/{id}/inputs/gene-id-table":{"get":{"operationId":"get-gene-id-table-from-succeded-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Dataset value is retrieved","schema":{"$ref":"#/definitions/File"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/succeeded-analyses/{id}/outputs/output":{"get":{"operationId":"get-output-from-succeded-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Dataset value is retrieved","schema":{"$ref":"#/definitions/File"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/failed-analyses/{id}":{"get":{"operationId":"get-failed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Analysis activity representation is retrieved","schema":{"$ref":"#/definitions/AnalysisActivity"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}},"delete":{"operationId":"remove-failed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Analysis activity is removed from server."}}}},"/failed-analyses/{id}/parameters/email":{"get":{"operationId":"get-emailfrom-failed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"404":{"description":"Resource not found."},"200":{"description":"Parameter value is retrieved","schema":{"$ref":"#/definitions/email"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/failed-analyses/{id}/parameters/count-cutoff":{"get":{"operationId":"get-count-cutofffrom-failed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"404":{"description":"Resource not found."},"200":{"description":"Parameter value is retrieved","schema":{"$ref":"#/definitions/count-cutoff"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/failed-analyses/{id}/parameters/threshold":{"get":{"operationId":"get-thresholdfrom-failed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"404":{"description":"Resource not found."},"200":{"description":"Parameter value is retrieved","schema":{"$ref":"#/definitions/threshold"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/failed-analyses/{id}/parameters/categories-in-result":{"get":{"operationId":"get-categories-in-resultfrom-failed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"404":{"description":"Resource not found."},"200":{"description":"Parameter value is retrieved","schema":{"$ref":"#/definitions/categories-in-result"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/failed-analyses/{id}/parameters/gene-identifier-type":{"get":{"operationId":"get-gene-identifier-typefrom-failed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"404":{"description":"Resource not found."},"200":{"description":"Parameter value is retrieved","schema":{"$ref":"#/definitions/gene-identifier-type"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/failed-analyses/{id}/parameters/column-name":{"get":{"operationId":"get-column-namefrom-failed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"404":{"description":"Resource not found."},"200":{"description":"Parameter value is retrieved","schema":{"$ref":"#/definitions/column-name"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/failed-analyses/{id}/inputs/gene-id-table":{"get":{"operationId":"get-gene-id-table-from-failed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Dataset value is retrieved","schema":{"$ref":"#/definitions/File"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}}},"definitions":{"AnalysisActivity":{"type":"object","properties":{"id":{"type":"string"},"state":{"type":"string","enum":["CREATED","READY","RUNNING","SUCCEEDED","FAILED","REMOVED"]},"errorReport":{"type":"string"}}},"ParameterMap":{"type":"object","properties":{"email":{"type":"string"},"count-cutoff":{"type":"integer"},"threshold":{"type":"number"},"categories-in-result":{"type":"array","items":{"type":"string"}},"gene-identifier-type":{"type":"string"},"column-name":{"type":"string"}}},"email":{"type":"object","properties":{"email":{"type":"string"}}},"count-cutoff":{"type":"object","properties":{"count-cutoff":{"type":"integer"}}},"threshold":{"type":"object","properties":{"threshold":{"type":"number"}}},"categories-in-result":{"type":"object","properties":{"categories-in-result":{"type":"array","items":{"type":"string"}}}},"gene-identifier-type":{"type":"object","properties":{"gene-identifier-type":{"type":"string"}}},"column-name":{"type":"object","properties":{"column-name":{"type":"string"}}},"File":{"type":"object","properties":{"name":{"type":"string"},"contentType":{"type":"string"},"content":{"type":"string","format":"application/octet-stream"}}},"JobInstance":{"type":"object","properties":{"id":{"type":"string"},"state":{"type":"string","enum":["CREATED","READY","RUNNING","SUCCEEDED","FAILED","REMOVED"]},"errorReport":{"type":"string"}}}}}