<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated analysis-activity-description -->
      <factory
            uri="http://dcm.ffclrp.usp.br/lssb/metamodels/analysis-activity-description.ecore"
            class="br.usp.ffclrp.dcm.lssb.restaurant.analysisactivitydescription.provider.AnalysisActivityDescriptionItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated analysis-activity-description -->
      <factory
            uri="http://dcm.ffclrp.usp.br/lssb/metamodels/string-list-manipulator.ecore"
            class="br.usp.ffclrp.dcm.lssb.restaurant.stringlistmanipulators.provider.StringListManipulatorsItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

</plugin>
