<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated analysis-activity-model -->
      <package
            uri="http://dcm.ffclrp.usp.br/lssb/metamodels/analysis-activity-model.ecore"
            class="br.usp.ffclrp.dcm.lssb.restaurant.analysisactivitymodel.AnalysisActivityModelPackage"
            genModel="model/analysis-activity-model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated analysis-activity-model -->
      <package
            uri="http://dcm.ffclrp.usp.br/lssb/metamodels/activity-exceptions.ecore"
            class="analysisactivityexceptions.AnalysisactivityexceptionsPackage"
            genModel="model/analysis-activity-model.genmodel"/>
   </extension>

</plugin>
