{"swagger":"2.0","info":{"title":"agilent-one-color-microarray-normalization","description":"","termsOfService":"","version":"0.8.0"},"host":"kode.ffclrp.usp.br:8081","basePath":"/agilent-one-color-microarray-normalization","schemes":["http"],"consumes":["application/json","application/xml"],"produces":["application/json","application/xml"],"paths":{"/":{"get":{"operationId":"get-service-root-resource","responses":{"200":{"description":"Retrieve links for other accessible resources","headers":{"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/new-analyses":{"post":{"operationId":"create-new-analysis-resource","responses":{"200":{"description":"Analysis activity representation is retrieved","schema":{"$ref":"#/definitions/AnalysisActivity"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/new-analyses/{id}":{"get":{"operationId":"get-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Analysis activity representation is retrieved","schema":{"$ref":"#/definitions/AnalysisActivity"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}},"delete":{"operationId":"remove-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Analysis activity is removed from server."}}}},"/new-analyses/{id}/parameters":{"get":{"description":"Get activity\u0027s parameters.","operationId":"get-non-executed-analysis-parameters","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameters representation is retrieved","schema":{"$ref":"#/definitions/ParameterMap"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}},"put":{"description":"Update all parameters values at once","operationId":"put-non-executed-analysis-parameters","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true},{"name":"parameter values","in":"body","required":true,"schema":{"$ref":"#/definitions/ParameterMap"}}],"responses":{"200":{"description":"Parameters values are accepted and updated.","headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}},"400":{"description":"Parameters values are not accepted.","headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/new-analyses/{id}/inputs/raw-files/{fileId}":{"get":{"operationId":"get-raw-files-from-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Dataset value is retrieved","schema":{"$ref":"#/definitions/File"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}},"put":{"operationId":"put-raw-files-into-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true},{"name":"Dataset\u0027s file values","in":"body","required":true,"schema":{"$ref":"#/definitions/File"}}],"responses":{"200":{"description":"Dataset value is retrieved","schema":{"$ref":"#/definitions/File"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}},"delete":{"operationId":"delete-raw-files-into-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Dataset value is retrieved","schema":{"$ref":"#/definitions/File"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/new-analyses/{id}/inputs/raw-files":{"get":{"operationId":"get-raw-filescollection-from-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Links for dataset files are retrieved","headers":{"Link":{"description":"Link for another accessible resource.","type":"string"}}}}},"post":{"operationId":"post-raw-files-into-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"File is created in the dataset.","headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}},"400":{"description":"File is not accepted.","headers":{"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/jobs/{id}":{"get":{"description":"Get the processing state.","operationId":"get-job","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"The job is runnning. Poll the processing again after a small ammout of time.","schema":{"$ref":"#/definitions/AnalysisActivity"}},"410":{"description":"The job failed. The location of the results is provided in headers.","schema":{"$ref":"#/definitions/AnalysisActivity"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}},"303":{"description":"The job succeeded. The location of the results is provided in headers.","schema":{"$ref":"#/definitions/AnalysisActivity"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}},"put":{"description":"Create a new job for the activity identified by {id}.","operationId":"put-job","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"201":{"description":"The activity is ready for processing and a new job is started.The location of the new job is also returned in the headers. ","headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}},"400":{"description":"The activity is was not ready for its executionand was not started."}}},"delete":{"description":"Try to cancel the job.","operationId":"cancel-job","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"303":{"description":"The job was canceled and the resource was returned to the READY state. Location is returned in headers.","schema":{"$ref":"#/definitions/AnalysisActivity"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}},"510":{"description":"The job could not be canceled.","schema":{"$ref":"#/definitions/AnalysisActivity"}}}}},"/succeded-analyses/{id}":{"get":{"operationId":"get-succeeded-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Analysis activity representation is retrieved","schema":{"$ref":"#/definitions/AnalysisActivity"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}},"delete":{"operationId":"remove-succeded-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Analysis activity is removed from server."}}}},"/succeeded-analyses/{id}/parameters":{"get":{"description":"Get activity\u0027s parameters.","operationId":"get-succeded-analysis-parameters","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameters representation is retrieved","schema":{"$ref":"#/definitions/ParameterMap"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/succeeded-analyses/{id}/inputs/raw-files/{fileId}":{"get":{"operationId":"get-raw-files-from-succeded-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Dataset value is retrieved","schema":{"$ref":"#/definitions/File"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/succeeded-analyses/{id}/outputs/output":{"get":{"operationId":"get-output-from-succeded-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Dataset value is retrieved","schema":{"$ref":"#/definitions/File"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/failed-analyses/{id}":{"get":{"operationId":"get-failed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Analysis activity representation is retrieved","schema":{"$ref":"#/definitions/AnalysisActivity"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}},"delete":{"operationId":"remove-failed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Analysis activity is removed from server."}}}},"/failed-analyses/{id}/parameters":{"get":{"description":"Get activity\u0027s parameters.","operationId":"get-failed-analysis-parameters","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameters representation is retrieved","schema":{"$ref":"#/definitions/ParameterMap"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/failed-analyses/{id}/inputs/raw-files":{"get":{"operationId":"get-raw-filescollection-from-failed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Links for dataset files are retrieved","headers":{"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/failed-analyses/{id}/inputs/raw-files/{fileId}":{"get":{"operationId":"get-raw-files-from-failed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Dataset value is retrieved","schema":{"$ref":"#/definitions/File"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}}},"definitions":{"AnalysisActivity":{"type":"object","properties":{"id":{"type":"string"},"state":{"type":"string","enum":["CREATED","READY","RUNNING","SUCCEEDED","FAILED","REMOVED"]},"errorReport":{"type":"string"}}},"ParameterMap":{"type":"object"},"File":{"type":"object","properties":{"name":{"type":"string"},"contentType":{"type":"string"},"content":{"type":"string","format":"application/octet-stream"}}},"JobInstance":{"type":"object","properties":{"id":{"type":"string"},"state":{"type":"string","enum":["CREATED","READY","RUNNING","SUCCEEDED","FAILED","REMOVED"]},"errorReport":{"type":"string"}}}}}