{"swagger":"2.0","info":{"title":"kegg-pathway-viewer","description":"\u0027\u0027 Maps user data on relevant pathways graphs.\n    Allows the mapping and rendering of gene expression data into KEGG pathway \n    graphs. This service is implemented as a wrapper for the pathview R package.\n     Further documentation about the pathview R package can be found at \n     http://www.bioconductor.org/packages/release/bioc/html/pathview.html.\n     \u0027\u0027","termsOfService":"","version":"0.8.0"},"host":"kode.ffclrp.usp.br:8081","basePath":"/kegg-pathway-viewer","schemes":["http"],"consumes":["application/json","application/xml"],"produces":["application/json","application/xml"],"paths":{"/":{"get":{"description":"\u0027\u0027 Maps user data on relevant pathways graphs.\n    Allows the mapping and rendering of gene expression data into KEGG pathway \n    graphs. This service is implemented as a wrapper for the pathview R package.\n     Further documentation about the pathview R package can be found at \n     http://www.bioconductor.org/packages/release/bioc/html/pathview.html.\n     \u0027\u0027","operationId":"get-service-root-resource","responses":{"200":{"description":"Retrieve links for other accessible resources","headers":{"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/new-analyses":{"post":{"description":"\u0027\u0027 Maps user data on relevant pathways graphs.\n    Allows the mapping and rendering of gene expression data into KEGG pathway \n    graphs. This service is implemented as a wrapper for the pathview R package.\n     Further documentation about the pathview R package can be found at \n     http://www.bioconductor.org/packages/release/bioc/html/pathview.html.\n     \u0027\u0027","operationId":"create-new-analysis-resource","responses":{"200":{"description":"Analysis activity representation is retrieved","schema":{"$ref":"#/definitions/AnalysisActivity"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/new-analyses/{id}":{"get":{"description":"\u0027\u0027 Maps user data on relevant pathways graphs.\n    Allows the mapping and rendering of gene expression data into KEGG pathway \n    graphs. This service is implemented as a wrapper for the pathview R package.\n     Further documentation about the pathview R package can be found at \n     http://www.bioconductor.org/packages/release/bioc/html/pathview.html.\n     \u0027\u0027","operationId":"get-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Analysis activity representation is retrieved","schema":{"$ref":"#/definitions/AnalysisActivity"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}},"delete":{"description":"\u0027\u0027 Maps user data on relevant pathways graphs.\n    Allows the mapping and rendering of gene expression data into KEGG pathway \n    graphs. This service is implemented as a wrapper for the pathview R package.\n     Further documentation about the pathview R package can be found at \n     http://www.bioconductor.org/packages/release/bioc/html/pathview.html.\n     \u0027\u0027","operationId":"remove-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Analysis activity is removed from server."}}}},"/new-analyses/{id}/parameters":{"get":{"description":"Get activity\u0027s parameters.","operationId":"get-non-executed-analysis-parameters","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameters representation is retrieved","schema":{"$ref":"#/definitions/ParameterMap"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}},"put":{"description":"Update all parameters values at once","operationId":"put-non-executed-analysis-parameters","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true},{"name":"parameter values","in":"body","required":true,"schema":{"$ref":"#/definitions/ParameterMap"}}],"responses":{"200":{"description":"Parameters values are accepted and updated.","headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}},"400":{"description":"Parameters values are not accepted.","headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/new-analyses/{id}/parameters/species-id":{"get":{"operationId":"get-species-idfrom-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"404":{"description":"Resource not found."},"200":{"description":"Parameter value is retrieved","schema":{"$ref":"#/definitions/species-id"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}},"put":{"operationId":"put-species-idfor-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is set","headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}},"400":{"description":"Bad values for parameter."},"404":{"description":"Resource not found."}}}},"/new-analyses/{id}/parameters/pathway-id":{"get":{"operationId":"get-pathway-idfrom-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"404":{"description":"Resource not found."},"200":{"description":"Parameter value is retrieved","schema":{"$ref":"#/definitions/pathway-id"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}},"put":{"operationId":"put-pathway-idfor-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is set","headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}},"400":{"description":"Bad values for parameter."},"404":{"description":"Resource not found."}}}},"/new-analyses/{id}/parameters/gene-id-type":{"get":{"operationId":"get-gene-id-typefrom-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"404":{"description":"Resource not found."},"200":{"description":"Parameter value is retrieved","schema":{"$ref":"#/definitions/gene-id-type"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}},"put":{"operationId":"put-gene-id-typefor-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is set","headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}},"400":{"description":"Bad values for parameter."},"404":{"description":"Resource not found."}}}},"/new-analyses/{id}/parameters/column-with-row-names":{"get":{"operationId":"get-column-with-row-namesfrom-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"404":{"description":"Resource not found."},"200":{"description":"Parameter value is retrieved","schema":{"$ref":"#/definitions/column-with-row-names"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}},"put":{"operationId":"put-column-with-row-namesfor-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameter value is set","headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}},"400":{"description":"Bad values for parameter."},"404":{"description":"Resource not found."}}}},"/new-analyses/{id}/inputs/input-file":{"get":{"operationId":"get-input-file-from-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Dataset value is retrieved","schema":{"$ref":"#/definitions/File"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}},"put":{"operationId":"put-input-file-into-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true},{"name":"Dataset\u0027s file values","in":"body","required":true,"schema":{"$ref":"#/definitions/File"}}],"responses":{"200":{"description":"Dataset value is updated","headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}},"400":{"description":"Dataset value is not accepted.","headers":{"Link":{"description":"Link for another accessible resource.","type":"string"}}}}},"delete":{"operationId":"delete-input-file-into-non-executed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Dataset value is retrieved","schema":{"$ref":"#/definitions/File"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/jobs/{id}":{"get":{"description":"Get the processing state.","operationId":"get-job","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"The job is runnning. Poll the processing again after a small ammout of time.","schema":{"$ref":"#/definitions/AnalysisActivity"}},"410":{"description":"The job failed. The location of the results is provided in headers.","schema":{"$ref":"#/definitions/AnalysisActivity"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}},"303":{"description":"The job succeeded. The location of the results is provided in headers.","schema":{"$ref":"#/definitions/AnalysisActivity"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}},"put":{"description":"Create a new job for the activity identified by {id}.","operationId":"put-job","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"201":{"description":"The activity is ready for processing and a new job is started.The location of the new job is also returned in the headers. ","headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}},"400":{"description":"The activity is was not ready for its executionand was not started."}}},"delete":{"description":"Try to cancel the job.","operationId":"cancel-job","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"303":{"description":"The job was canceled and the resource was returned to the READY state. Location is returned in headers.","schema":{"$ref":"#/definitions/AnalysisActivity"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}},"510":{"description":"The job could not be canceled.","schema":{"$ref":"#/definitions/AnalysisActivity"}}}}},"/succeded-analyses/{id}":{"get":{"description":"\u0027\u0027 Maps user data on relevant pathways graphs.\n    Allows the mapping and rendering of gene expression data into KEGG pathway \n    graphs. This service is implemented as a wrapper for the pathview R package.\n     Further documentation about the pathview R package can be found at \n     http://www.bioconductor.org/packages/release/bioc/html/pathview.html.\n     \u0027\u0027","operationId":"get-succeeded-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Analysis activity representation is retrieved","schema":{"$ref":"#/definitions/AnalysisActivity"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}},"delete":{"description":"\u0027\u0027 Maps user data on relevant pathways graphs.\n    Allows the mapping and rendering of gene expression data into KEGG pathway \n    graphs. This service is implemented as a wrapper for the pathview R package.\n     Further documentation about the pathview R package can be found at \n     http://www.bioconductor.org/packages/release/bioc/html/pathview.html.\n     \u0027\u0027","operationId":"remove-succeded-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Analysis activity is removed from server."}}}},"/succeeded-analyses/{id}/parameters":{"get":{"description":"Get activity\u0027s parameters.","operationId":"get-succeded-analysis-parameters","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameters representation is retrieved","schema":{"$ref":"#/definitions/ParameterMap"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/succeded-analyses/{id}/parameters/species-id":{"get":{"operationId":"get-species-idfrom-succeded-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"404":{"description":"Resource not found."},"200":{"description":"Parameter value is retrieved","schema":{"$ref":"#/definitions/species-id"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/succeded-analyses/{id}/parameters/pathway-id":{"get":{"operationId":"get-pathway-idfrom-succeded-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"404":{"description":"Resource not found."},"200":{"description":"Parameter value is retrieved","schema":{"$ref":"#/definitions/pathway-id"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/succeded-analyses/{id}/parameters/gene-id-type":{"get":{"operationId":"get-gene-id-typefrom-succeded-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"404":{"description":"Resource not found."},"200":{"description":"Parameter value is retrieved","schema":{"$ref":"#/definitions/gene-id-type"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/succeded-analyses/{id}/parameters/column-with-row-names":{"get":{"operationId":"get-column-with-row-namesfrom-succeded-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"404":{"description":"Resource not found."},"200":{"description":"Parameter value is retrieved","schema":{"$ref":"#/definitions/column-with-row-names"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/succeeded-analyses/{id}/inputs/input-file":{"get":{"operationId":"get-input-file-from-succeded-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Dataset value is retrieved","schema":{"$ref":"#/definitions/File"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/succeeded-analyses/{id}/outputs/output-files/{fileId}":{"get":{"description":"A directory were the files will be created.","operationId":"get-output-files-from-succeded-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Dataset value is retrieved","schema":{"$ref":"#/definitions/File"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/failed-analyses/{id}":{"get":{"description":"\u0027\u0027 Maps user data on relevant pathways graphs.\n    Allows the mapping and rendering of gene expression data into KEGG pathway \n    graphs. This service is implemented as a wrapper for the pathview R package.\n     Further documentation about the pathview R package can be found at \n     http://www.bioconductor.org/packages/release/bioc/html/pathview.html.\n     \u0027\u0027","operationId":"get-failed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Analysis activity representation is retrieved","schema":{"$ref":"#/definitions/AnalysisActivity"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}},"delete":{"description":"\u0027\u0027 Maps user data on relevant pathways graphs.\n    Allows the mapping and rendering of gene expression data into KEGG pathway \n    graphs. This service is implemented as a wrapper for the pathview R package.\n     Further documentation about the pathview R package can be found at \n     http://www.bioconductor.org/packages/release/bioc/html/pathview.html.\n     \u0027\u0027","operationId":"remove-failed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Analysis activity is removed from server."}}}},"/failed-analyses/{id}/parameters":{"get":{"description":"Get activity\u0027s parameters.","operationId":"get-failed-analysis-parameters","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Parameters representation is retrieved","schema":{"$ref":"#/definitions/ParameterMap"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/failed-analyses/{id}/parameters/species-id":{"get":{"operationId":"get-species-idfrom-failed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"404":{"description":"Resource not found."},"200":{"description":"Parameter value is retrieved","schema":{"$ref":"#/definitions/species-id"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/failed-analyses/{id}/parameters/pathway-id":{"get":{"operationId":"get-pathway-idfrom-failed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"404":{"description":"Resource not found."},"200":{"description":"Parameter value is retrieved","schema":{"$ref":"#/definitions/pathway-id"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/failed-analyses/{id}/parameters/gene-id-type":{"get":{"operationId":"get-gene-id-typefrom-failed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"404":{"description":"Resource not found."},"200":{"description":"Parameter value is retrieved","schema":{"$ref":"#/definitions/gene-id-type"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/failed-analyses/{id}/parameters/column-with-row-names":{"get":{"operationId":"get-column-with-row-namesfrom-failed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"404":{"description":"Resource not found."},"200":{"description":"Parameter value is retrieved","schema":{"$ref":"#/definitions/column-with-row-names"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}},"/failed-analyses/{id}/inputs/input-file":{"get":{"operationId":"get-input-file-from-failed-analysis","parameters":[{"name":"id","in":"path","type":"string","description":"The analysis activity identifier.","required":true}],"responses":{"200":{"description":"Dataset value is retrieved","schema":{"$ref":"#/definitions/File"},"headers":{"Location":{"description":"The location of the resource.","type":"string"},"Link":{"description":"Link for another accessible resource.","type":"string"}}}}}}},"definitions":{"AnalysisActivity":{"type":"object","properties":{"id":{"type":"string"},"state":{"type":"string","enum":["CREATED","READY","RUNNING","SUCCEEDED","FAILED","REMOVED"]},"errorReport":{"type":"string"}}},"ParameterMap":{"type":"object","properties":{"species-id":{"type":"string"},"pathway-id":{"type":"string"},"gene-id-type":{"type":"string"},"column-with-row-names":{"type":"string"}}},"species-id":{"type":"object","properties":{"species-id":{"type":"string"}}},"pathway-id":{"type":"object","properties":{"pathway-id":{"type":"string"}}},"gene-id-type":{"type":"object","properties":{"gene-id-type":{"type":"string"}}},"column-with-row-names":{"type":"object","properties":{"column-with-row-names":{"type":"string"}}},"File":{"type":"object","properties":{"name":{"type":"string"},"contentType":{"type":"string"},"content":{"type":"string","format":"application/octet-stream"}}},"JobInstance":{"type":"object","properties":{"id":{"type":"string"},"state":{"type":"string","enum":["CREATED","READY","RUNNING","SUCCEEDED","FAILED","REMOVED"]},"errorReport":{"type":"string"}}}}}