<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated deployment-model -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="deploymentmodel.presentation.DeploymentmodelModelWizardID"
            name="%_UI_DeploymentmodelModelWizard_label"
            class="deploymentmodel.presentation.DeploymentmodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DeploymentmodelModelFile.gif">
         <description>%_UI_DeploymentmodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated deployment-model -->
      <editor
            id="deploymentmodel.presentation.DeploymentmodelEditorID"
            name="%_UI_DeploymentmodelEditor_label"
            icon="icons/full/obj16/DeploymentmodelModelFile.gif"
            extensions="deploymentmodel"
            class="deploymentmodel.presentation.DeploymentmodelEditor"
            contributorClass="deploymentmodel.presentation.DeploymentmodelActionBarContributor">
      </editor>
   </extension>

</plugin>
